<style>
    div.footer1 {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
</style>

 <style>
        v-cloak {
            display: none;
        }
        #conteiner1{
            width: auto;
            height: auto;
            display: block;
            margin-right: auto;
            margin-left: 30px;
            margin-top: 30px;
        }
               conteiner2{
            width: auto;
            height: auto;
            display: block;
            margin-right: auto;
            margin-left: 30px;
            margin-top: 30px;
        }
        .p-razmetka {
            margin: 5px 105px 0 50px;
            font-size: 1.1rem;
        }
        .p-description {
            margin: 3px 15px 0 0px;
            font-size: 1.1rem;

        }
        .body-ramki{
            margin: 0;
            margin-right: 25px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 25px;

        }
        .preview-product {
         background: #fff;
         border: 2px solid rgb(175, 183, 187);
        }
        .btn-outline-secondary {
         color: #6c757d;
         border-color: #6c757d;
}
 </style>
